html,body,img,ul,li,p,h1,h2,h3,h4,h5,h6,dd,dl,dt,table,th,td{margin:0; padding:0; border: 0; font-family: "Arial","微软雅黑","黑体";  -webkit-text-size-adjust:none;}
ul,li{list-style:none;}
a{ text-decoration:none; color:#000; }
table{border-collapse:collapse; border-spacing:0;width:100%;}
input,button,select,textarea{outline:none}
textarea{resize:none}

html{width: 100%; height: 100%;}
body{width: 100%; height: 100%; }


.loading_box .logo_btn_box{ margin: 0 auto; position: fixed; top:30%; width: 100px; height: 100px; cursor: pointer; left:49%;} 
.loading_box .logo_btn_box .logo_point{position: absolute;  width: 4px; height: 4px; display: block;}