html,body,img,ul,li,p,h1,h2,h3,h4,h5,h6,dd,dl,dt,table,th,td{margin:0; padding:0; border: 0; font-family: "Arial","微软雅黑","黑体";  -webkit-text-size-adjust:none;}
ul,li{list-style:none;}
a{ text-decoration:none; color:#000; }
table{border-collapse:collapse; border-spacing:0;width:100%;}
input,button,select,textarea{outline:none}
textarea{resize:none}

html{width: 100%; height: 100%;}
body{background:url('../images/bg0.jpg') top center; width: 100%; height: 100%; }

.layer_box{width: 100%; position: absolute;}
.future-ad_top{top:0;}
.future-ad_top2{top:65px; background: #df001f; overflow: hidden; position: relative; height: 2px;}
.future-ad_bottom{position:absolute; top: 915px;}
.mid{height:100%; overflow: hidden; min-height: 955px;  min-width: 980px; }
.box_950{width: 950px;  margin:0 auto; position: relative; overflow: hidden;}
.box_955{width: 955px;  margin:0 auto; position: relative; }
.box_980{width: 980px;  margin:0 auto; position: relative; }
.bg_b{background: #ccff00; width: 100%; height: 100%; position: absolute; top:0;}

.content_box,.other_box,
.content_box,.scene_bar_box,
.content_box,.scene_bg_box{width:100%; overflow: hidden; }
.black_content_box{background-color: #000;}
.content_box .future_box{padding-top: 377px;}
.content_box .resources_box{padding-top: 278px;}
.content_box .case_box{padding-top: 278px;}
.content_box .point_box{padding-top: 190px;}
.content_box .point_box .case_single_box{height:260px;}
.content_box .point_box .case_single_box img{height:260px;}
.content_box .point_box .case_single_box_temp{height:260px;}
.content_box .point_box .case_single_box_temp img{height:260px;}
.content_box .box{padding-top: 67px;}

/*操作按钮共用*/
.link_inside, .link_video, .link_img{cursor: pointer;}
/*操作按钮共用*/

/*轮播 start*/
.carousel{width:980px; position:relative;}
.carousel .kv_box{padding: 0; position: relative;}
.carousel .kv_box *{float:left;}
.carousel .kv_box a img{width: 980px; height: 528px;}
.carousel .nav_box{margin: 0 auto; overflow: hidden; padding-top: 8px;}
.carousel .nav_box .nav_point{width: 20px; height: 20px; float: left; background: url('../images/carousel_point_bg.png') -20px 0 no-repeat; cursor: pointer; }
.carousel .nav_box .nav_point:hover{background: url('../images/carousel_point_bg.png') 0 0 no-repeat; }
.carousel .nav_box .nav_point_active{background: url('../images/carousel_point_bg.png') 0 0 no-repeat; cursor: inherit; }
/*轮播 end*/

/*轮播共用*/
/*.carousel{width:980px; overflow: hidden; position:relative;}*/
.carousel_box{position: relative; overflow: hidden;}
.carousel_scene{overflow: hidden; position: relative;}
/*.carousel_box div,.carousel_box img{float:left;}*/
.carousel_box .article_2{margin-right: 50px; float: left; overflow:hidden;}
.arrow_left{position: absolute; top:0; left: -50px; width: 50px; height: 500px; cursor: pointer; }
.arrow_left_img{width: 19px; height: 38px; background:url('../images/arrow.png') no-repeat 0 0; position: absolute; top:231px; left: 15px;}
.arrow_left_img_hover{display:none; width: 19px; height: 38px; background:url('../images/arrow.png') no-repeat 0 -40px; position: absolute; top:231px; left: 15px;}
.arrow_right{position: absolute; top:0; left: 980px; width: 50px; height: 500px; cursor: pointer;}
.arrow_right_img{width: 19px; height: 38px; background:url('../images/arrow.png') no-repeat -20px 0; position: absolute; top:231px; left: 15px;}
.arrow_right_img_hover{display:none; width: 19px; height: 38px; background:url('../images/arrow.png') no-repeat -20px -40px; position: absolute; top:231px; left: 15px;}
/*轮播共用*/

/*首页*/
.banner_box{background: url('../images/index/banner_bg.png'); height: 208px; width: 279px; position: relative; padding:11px 12px 0px 12px; cursor: pointer; overflow:hidden;}
.banner_box .icon{display: block; position: absolute; top:116px; left: 124px; overflow:hidden;}
.t_banner{}
.t_banner .title{font-size: 18px; line-height: 20px; display: block; height: 20px; padding-top: 5px; padding-left: 10px; color:#3f464c; }
.t_banner .intro{font-size: 12px; line-height: 12px; display: block; height: 12px; padding-top: 5px; padding-left: 10px; color:#8b91a4; }
/*首页*/

/*未来*/
.future_nav_table{width:750px; margin:0 auto;}
.future_nav_table td{height: 120px;}
.future_nav_box{width: 98px; height: 98px; background:url('../images/future/point.png') no-repeat 0 0; position: relative; overflow: visible; cursor: pointer;}
.future_nav_box img{width: 98px; height: 98px; position: absolute; top: 0; left: 0;}
.future_nav_red_p{width: 98px; height: 98px; background:url('../images/future/point_red.png') no-repeat 0 0; position: absolute; top:0; left: 0;}
/*未来*/

/*合作伙伴*/
.partner_logo_table{border: 1px solid #e1e5f0; width: 954px; height: 388px; float: left; overflow:hidden; }
.partner_logo_table td{border: 1px solid #e1e5f0; width:158px; height: 96px; background: #fff;}
/*.partner_logo_table td a img{}*/
/*合作伙伴*/

/*资源*/
.resources_nav_table{width:750px; margin:0 auto;}
.resources_nav_table td{width:128px; height: 23px;}
.resources_nav_box{width: 127px; height: 23px; background:url('../images/resources/nav_hover.png') 0 0 no-repeat; position: relative; overflow: hidden; cursor: pointer; }
/*.resources_nav_box img{width: 127px; height: 23px; position: absolute; top:0; left: 0;}*/
.resources_nav_title{width: 127px; height: 17px; line-height: 17px; text-align: center; color:#fff; font-size: 12px;  background-color: #df0020;}


.article_2{width: 950px; height: 499px; padding: 15px; background:url('../images/article_2_bg.png') no-repeat center center; position: relative;}
.article_2 .index{padding-left:2px; width: 46px; height: 48px; background:url('../images/article_2_index_bg.png') no-repeat left top; color: #fff; font-family: 'Times New Roman','Arial'; line-height: 36px; font-size: 22px;   font-style: italic; position: absolute; top: 15px; left: 15px; }
.article_2 .title{height: 28px;  position: absolute; top: 32px; left: 53px; }
.article_2 .content{padding-top: 60px; height:400px; display: block; overflow: hidden;}
.article_2 .content .list td{padding:10px 0;}
.article_2 .content .list .list_title{color: #8b91a4; font-size: 14px; display: block;  line-height: 24px; height: 24px;}
.article_2 .content .list .list_content{color: #1a1a1a; font-size: 12px; line-height: 20px;}


.article_box, .article_box_temp{width: 950px; height: 499px; padding: 15px; background:url('../images/article_box_bg.png') no-repeat center center; position: relative;}
.article_box .content_box{width: 950px; height: 499px; overflow: hidden;}
.article_box .index{padding-left:2px; width: 46px; height: 48px; background:url('../images/article_box_index_bg.png.html') no-repeat left top; color: #fff; font-family: 'Times New Roman','Arial'; line-height: 36px; font-size: 22px;   font-style: italic; position: absolute; top: 15px; left: 15px; }
.article_box .title{height: 28px;  position: absolute; top: 32px; left: 53px; }
.article_box .content{padding-top: 60px; height:400px; display: block; overflow: hidden;}
.article_box .content .list td{padding:10px 0;}
.article_box .content .list .list_title{color: #8b91a4; font-size: 14px; display: block;  line-height: 24px; height: 24px;}
.article_box .content .list .list_content{color: #1a1a1a; font-size: 12px; line-height: 20px;}
/*资源*/

/*案例*/
.case_bg_box{background: url('../images/bg2.jpg') top center; height: 2000px; margin-top: 66px;}
.case_nav_table{width:750px; margin:0 auto;}
.case_nav_table td{width:128px; height: 23px;}
.case_nav_box{width: 127px; height: 23px; background:url('../images/resources/nav_hover.png') 0 0 no-repeat; position: relative; overflow: hidden; cursor: pointer; }
/*.case_nav_box img{width: 127px; height: 23px; position: absolute; top:0; left: 0;}*/
.case_nav_title{width: 127px; height: 17px; line-height: 17px; text-align: center; color:#fff; font-size: 12px;  background-color: #df0020;}

.case_table{float: left; width: 951px;}
.case_table td{width:316px; height: 227px; padding-right: 1px; padding-bottom: 1px;}
.case_table td .case_single_box{position: relative; cursor: pointer; width: 316px; height: 227px;}
.case_table td .case_single_box img{float: left; width: 316px; height: 227px;}
.case_table td .case_single_box .red_box{width:316px; height: 227px; background:url('../images/case/red_cover.png') 0 0 no-repeat; position: absolute; left: 0; top:0; }
.case_table td .case_single_box .title{width:200px; height: 50px; position: absolute; left: 0; top:177px; color:#fff; font-size: 12px; padding: 0 15px; }
.case_table td .case_single_box .time{width:66px; height: 12px; position: absolute; bottom: 12px; right:0px; color:#ccc; color:rgba(255,255,255,.5); font-size: 12px; padding: 0 15px; }

.case_table td .case_single_box_temp{position: relative; cursor: pointer; width: 316px; height: 227px;}
.case_table td .case_single_box_temp img{float: left; width: 316px; height: 227px;}
.case_table td .case_single_box_temp .red_box{width:316px; height: 227px; background:url('../images/case/red_cover.png') 0 0 no-repeat; position: absolute; left: 0; top:0; }
.case_table td .case_single_box_temp .title{width:200px; height: 50px; position: absolute; left: 0; top:177px; color:#fff; font-size: 12px; padding: 0 15px; }
.case_table td .case_single_box_temp .time{width:66px; height: 12px; position: absolute; bottom: 12px; right:0px; color:#ccc; color:rgba(255,255,255,.5); font-size: 12px; padding: 0 15px; }

.case_intro_box{}
.case_intro_box .title{background: url('../images/case/title_bg.png') 17px 0 no-repeat; height: 33px; padding-top: 28px; padding-bottom: 12px; color:#ec1c24; font-size: 24px; line-height: 33px; position: relative;}
.case_intro_box .title .index{position: absolute;top:2px;left:24px;color: #8b91a4; height: 24px; line-height: 24px; font-style: italic;}
.case_intro_box .title .time{position: absolute;bottom:0;left:40px; font-size: 12px; color: #8b91a4; height: 12px; line-height: 12px;font-style: italic;}
.case_intro_box .video{padding-top: 32px; position: relative;}
.case_intro_box .close_btn{background:url('../images/case/close.jpg') 0 0 no-repeat; width: 24px; height: 24px; position: absolute; top:278px; right: -24px; cursor: pointer;}
.case_intro_box .close_btn:hover{background-position: -24px 0;  }
.case_intro_box .intro{padding-top: 15px; font-size: 12px; color: #fff; line-height: 20px;}
/*案例*/

/*下载专区*/
.content_box .download_box{padding-top:245px; }
.article_box_download{width: 950px; height: 600px; padding: 15px; background:url('../images/download/article_box_bg.png') no-repeat center center; position: relative;}
.downloads_keys_box{background: #e9eff6; padding: 25px 30px;}
.downloads_keys_box .keys_list_box{overflow: hidden; padding-bottom: 20px;}
.downloads_keys_box .keys_list_box li{float: left;}
.downloads_keys_box .keys_list_box .keys_title_box,
.downloads_keys_box .keys_list_box .keys_single_box, 
.downloads_keys_box .keys_list_box .keys_single_box_active{font-size: 14px; padding: 5px 20px;color: #8b91a4;}
.downloads_keys_box .keys_list_box .keys_title_box{padding-left:0; }
.downloads_keys_box .keys_list_box .keys_single_box{color: #8b91a4; cursor: pointer;}
.downloads_keys_box .keys_list_box .keys_single_box_active{color: #ffffff; background: #8b91a4; cursor: default;}

.user_keys_box{margin: 0 1px 0 50px; float: left; height: 50px; line-height: 50px; position: relative;}
.user_keys_box label{height: 50px; line-height: 50px; position: absolute; width: 150px; padding: 0 20px; left:0; top: 0; z-index: 100; color:#fff;}
.search_text_class{border: 0; background: #8b90a4; color: #fff; display: block;  float:left;font-size: 16px; width: 150px;  overflow: hidden; height: 20px; line-height: 20px; padding: 15px 20px; position: relative; text-overflow: clip; z-index: 49;}


.search_result_list_box{padding: 30px 30px 0 30px;  }
.search_result_list_box li{padding-bottom: 20px; position: relative; float: left;clear: both;}
.search_result_list_box li a{color: #8b91a4; font-size: 14px; line-height: 14px;}
.search_result_list_box li .preview_box{padding: 0 10px 0 20px; background:url('../images/download/preview_left_bottom.gif') left bottom no-repeat; position: absolute; bottom: 24px; right:-235px; width: 200px; z-index:9999;}
.search_result_list_box li .preview_box p{font-size: 14px; margin: 10px 0; color: #8b91a4;}

.search_paging_list_box{overflow: hidden; padding: 0 30px; position: absolute; right:0; bottom: 20px;}
.search_paging_list_box .search_paging_single,
.search_paging_list_box .search_paging_single_active{padding: 5px 10px; font-size: 12px; height: 12px; line-height: 12px; float: right; margin-left:2px; }
.search_paging_list_box .search_paging_single{color:#8b91a4; cursor: pointer;}
.search_paging_list_box .search_paging_single:hover,
.search_paging_list_box .search_paging_single_active{color:#fff; background: #8b91a4;}
.search_paging_list_box .search_paging_single_active{cursor: default;} 
/*下载专区*/

/*nav start*/
.nav_level1_box{overflow: hidden;}
.nav_level1_box .nav{height: 65px; width: 50px; margin-right:30px;  background: url('../images/nav_2013-12-19.png') no-repeat; float: left; cursor: pointer;}
.nav_level1_box .nav_right{float: right; height:65px; margin-left: 12px; background: url('../images/nav_2013-12-19.png') no-repeat; }
.nav_level1_box .nav_right a{display: block;width: 100%; height: 100%;}

.nav_level2_all_box{position: relative; }
.nav_level2_box{height: 24px; line-height: 24px; overflow: hidden;}
.nav_level2_box .nav{margin-right:30px; height: 24px; line-height: 24px;  float: left; cursor: pointer; color:#ed939a; font-size: 12px;}
.nav_level2_box .nav:hover{margin-right:30px; height: 24px; line-height: 24px;  float: left; cursor: pointer; color:#ffffff; font-size: 12px; font-weight: bold;}
.nav_level2_box .nav_active{margin-right:30px; height: 24px; line-height: 24px;  float: left; cursor: pointer; color:#ffffff; font-size: 12px; font-weight: bold;}
/*nav end*/
.loading_box{width: 100%; height: 100%; position: absolute; overflow: hidden;}
.loading_box .bg_box{width: 1px; height: 1px; background: #ffffff; margin: 0 auto; top:50%; position: relative;}
.loading_box .bg_box .bg_point{width: 100px; height: 100px; display: block; position: absolute;}
.loading_box .logo_btn_box{ margin: 0 auto; position: fixed; top:30%; width: 100px; height: 100px; cursor: pointer; left:49%;} 
.loading_box .logo_btn_box .logo_point{position: absolute;  width: 4px; height: 4px; display: block; background:#ff0000 url('../images/logo.png') no-repeat;} 